
<link rel="stylesheet" href="../styles/main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="../styles/text.css">
<script src="https://kit.fontawesome.com/630e63b41f.js" crossorigin="anonymous"></script>
    <nav class='navbar navbar-expand navbar-light bg-light'>
        <a class="navbar-brand" href="index.html">
            <div class="logo-image">
                <img src="../images/logo.png" class="img-fluid">
          </div>
        </a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <a class="nav-link" href='../views/index.html'><i class="fas fa-home"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='cart.html'><i class="fas fa-shopping-cart"></i></a>
                </li>
                
            </ul>
    </nav>
